/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

// https://vitepress.dev/guide/extending-default-theme#customizing-css

.current {
  scroll-margin-top: 20em;
  &.week {
    border-left: 2px solid var(--vp-c-brand-1) !important;
    border-right: 2px solid var(--vp-c-brand-1) !important;
  }
  &.weekend {
    border-bottom: 2px solid var(--vp-c-brand-1) !important;
  }
}

.reveal {
  &.embedded {
    height: 512px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border: inherit;
    padding: inherit;
  }
  strong {
    color: var(--vp-c-danger-1);
  }

  .reference {
    font-size: small;
  }
}
