/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

// https://vitepress.dev/guide/extending-default-theme#customizing-css

.copyright {
  img {
    margin: auto;
  }
}

.current {
  scroll-margin-top: 32em;
  &.week {
    border-left: 2px solid var(--vp-c-brand-1) !important;
    border-right: 2px solid var(--vp-c-brand-1) !important;
  }
  &.weekend {
    border-bottom: 2px solid var(--vp-c-brand-1) !important;
  }
}

.reveal {
  --slides-height: 512px;
  --r-heading-text-transform: none;

  &.embedded {
    height: var(--slides-height);
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border: inherit;
    padding: inherit;
  }
  img {
    margin: auto !important;
  }
  td,
  th,
  tr {
    border: 2px solid black !important;
    background-color: inherit !important;
    color: inherit;
    font-size: inherit;
    transition: inherit;
  }
  strong {
    color: var(--vp-c-danger-1);
  }
  table {
    display: table;
    overflow-x: inherit;

    tr {
      background-color: inherit !important;
      border: inherit;
      transition: inherit;
      td {
        font-size: inherit;
      }
    }
  }

  .reference {
    font-size: small;
  }
  .mermaid {
    svg {
      height: 100%;
      width: 100% !important;
      max-height: var(--slides-height);
      max-width: unset !important;
    }
  }
}
